html, body {
    min-height: 100vh;
    --main-bg-color: #333;
    --sec-bg-color: #FFF;
    --secsh-bg-color: #d3d3d3; /*slightly darker than sec-bg-color */
    --tret-bg-color: #111; /*darker than main-bg-color, but could be anything else*/
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

input:focus {
    outline: none
}

button {
    cursor: pointer;
}

body {
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 3vh;
    max-height: 30vh;
    background: var(--main-bg-color);
    background: linear-gradient(0deg, var(--tret-bg-color) 0%, var(--main-bg-color) 5%);
    padding: 1% 0 1%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    width: 3%;
    height: 3%;
}

.logo img {
    width: 50%;
}


.search {
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 5%;

}

.login {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.login form,
.search form {
    height: 100%;
    display: inherit;
}

.login form > input,
.search input {
    padding: 1%;
    border: none;
    border-radius: 3px;
    background-color: var(--sec-bg-color);
    margin: 0 0.5vw 0;
}

.login a,
.login button,
.search button {
    padding: 0.5em 1em 0.5em;
    box-shadow: 0 0 1em var(--tret-bg-color);
    border: none;
    border-radius: 5%;
    background-color: var(--main-bg-color);
    margin: 0 0.5vw 0;
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.login:last-child {
}

.login a:hover,
.login button:hover,
.search button:hover {
    background-color: var(--sec-bg-color);
    color: var(--main-bg-color);
    box-shadow: 0 0 1em var(--secsh-bg-color);
}


main {
    flex-grow: 1;
}

.section-default {
    max-width: 100%;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--sec-bg-color);
}

.login-status {
    text-align: center;
    color: var(--tret-bg-color);
}

h1 {
    text-align: center;
    color: var(--tret-bg-color);
}

/* signup.php */

.form-signup {
    margin: auto;
    padding-top: 20px;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.form-signup input {
    padding: 0 1em;
    margin-bottom: 0.5em;
    border: 1px solid var(--secsh-bg-color);
    border-radius: 4px;
    background-color: var(--sec-bg-color);
    height: 2em;

}

.form-signup button {
    height: 3em;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
    box-shadow: none;
    font-weight: bold;
}

.form-signup button:hover {
    color: var(--main-bg-color);
    background: var(--sec-bg-color);
    box-shadow: 0 0 1em var(--main-bg-color);
    outline: solid;
}

.signuperror {
    padding-top: 14px;
    color: red;
    text-align: center;
}

.signupsuccess {
    padding-top: 14px;
    color: var(--main-bg-color);
    text-align: center;
}

.username {
    align-self: center;
    color: var(--tret-bg-color);
    font-size: 1em;
    font-weight: bold;

}

/*-----------------Navigation menu-----------------*/

.menu {
    display: flex;
    flex-direction: row;
    color: var(--sec-bg-color);
    font-weight: bold;
    font-size: 22px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    cursor: pointer;
}

.submenu:first-child {
    margin-top: 1.2em;
}

.submenu {
    display: none;
    position: absolute;
}

.submenu > li {
    background: var(--main-bg-color);
}

.submenu li:hover {
    text-decoration: underline overline;
}

.menu ul:hover
.submenu {
    display: block;
}
/*-----------------Navigation menu-----------------*/

/*--------------------Slider---------------------*/
.slider-div {
    border-bottom: 1px solid var(--sec-bg-color);
    margin-top: 5%;
}

.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.slider__wrapper {
    transition: transform 0.6s ease;
    margin: 0 5%;

}

.slider__wrapper img {
    height: 50vh;
    margin: 3% 0;
}

.slider__item {
    border: 1px solid var(--sec-bg-color);
    flex: 0 0 33.333333%;
    font-size: 1.5em;
}

.slider__item:hover {
    box-shadow: inset 0 0 1rem var(--secsh-bg-color);
    border-radius: 5%;
}

.slider__item > div {
    text-align: center;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--sec-bg-color);
    text-align: center;
    opacity: 0.5;
    padding: 1%;
    height: 20%;
    transform: translateY(-50%);
    background: var(--tret-bg-color);;
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: var(--sec-bg-color);
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/*--------------------Slider---------------------*/
/*-----------------Content-----------------*/
.content {
    display: flex;
    width: 100%;
    color: var(--main-bg-color);;
    border-bottom: 1px solid var(--sec-bg-color);;
}

/*-----------------Content-----------------*/
/*-----------------Footer------------------*/
footer {
    background: var(--main-bg-color);
    flex-grow: 0;
    color: var(--sec-bg-color);
}

.socials {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.socials img {
    height: 5vh;
    width: auto;
}

.copyright {
    text-align: center;
}

/*-----------------Footer------------------*/

/*-----------------goods-block-------------*/
.tovar {
    display: flex;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.block5 {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: var(--tret-bg-color);;
    margin: 20px;
    float: left;
    cursor: pointer;
}

.block5 img {
    height: 250px;
    width: 300px;
    margin-left: 25px;
}

.block5:hover {
    box-shadow: 0 0 5px;
}

.block5 h2 {
    margin-top: 2%;
}

/*-----------------goods-----------------*/
.block-goods {
    border: 3px solid;
    margin-left: 100px;
    margin-right: 100px;
}

.block-img img {
    height: 350px;
    width: 350px;
    float: left;
}

.block-info {
    height: 150px;
    width: 550px;
    border: 3px solid;
}

.block-name-goods {
    border-bottom: 1px var(--sec-bg-color);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.block-god {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-info-goods {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name-goods {

}

.code {
    border-right: 1px solid gray;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px gray solid;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    text-align: justify;
}

.block-char {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 99.9%;
    height: 100%;
    border: 1px gray solid;
    margin-bottom: 40px;
}

.name-char {
    text-align: center;
    margin-top: 20px;
    color: #080165;
    opacity: 0.5;
    margin-bottom: 20px;
}

.desc {
    border-right: 1px solid gray;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block-describe {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
}

/*----------user-create--------*/
.grand-select {
    margin-bottom: 5px;
}

/*----------user-create--------*/
.adm-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}

.adm-panel a {
    color: var(--sec-bg-color);
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 2vh;
    width: 15rem;
    border: solid var(--main-bg-color);
    border-radius: 10rem;
    margin-bottom: 1vh;
    cursor: pointer;
}

.adm-panel a:first-child {
    margin-top: 5vh;
}

.adm-panel a:hover {
    color: var(--main-bg-color);
    background-color: var(--sec-bg-color);
    border-color: var(--main-bg-color);
}

.adm-signup {
    height: 100%;
    padding: 0 6px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    line-height: 36px;
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
}


.show-user {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.delete-button {
    height: 30px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.delete-button button {
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    margin-left: 8px;
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
}

/*------------------delete-user--------------*/
.dropdown {
    width: 200px;
    border: 3px solid rgba(51, 51, 51, 0.3);
    border-radius: 4px;
    background-color: var(--main-bg-color);
    position: relative;
    color: var(--sec-bg-color);
    height: 34px;
    text-align: center;
    outline: none;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select > i {
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8;
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    background-color: #f8f8f8;
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    background-color: grey;
    width: 100%;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
}

.dropdown .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    color: var(--sec-bg-color);
    text-decoration: none;
}

.dropdown .dropdown-menu li:hover .drop-child {
    color: black;
}

.drop-child {
    position: absolute;
    display: none;
    background-color: black;
    min-width: 250px;
    height: 40px;
    margin-top: -23px;
    margin-left: 190px;
}

.drop-child li {
    color: var(--sec-bg-color);
    text-decoration: none;
}

.dropdown .dropdown-menu li {
    background-color: grey;
    color: var(--sec-bg-color);
    text-decoration: none;
}

.dropdown .dropdown-menu li:hover {
    color: black;
}

.dropdown .dropdown-menu li:hover .drop-child {
    display: block;
}


.noname {
    visibility: collapse;
}

.form-cat {
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
}

.form-cat button {
    height: 40px;
    padding: 0 10px;
    margin-left: 58px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
}


.form-add {
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
}

.form-add input {
    width: calc(100% - 30px);
    height: 30px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    float: left;
}

.form-add button {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
}

.form-add textarea {
    border: 1px solid grey;
    padding: 12px 10px;
    width: 240px;
    outline: none;
    border-radius: 5px;
}

.addPhoto label {
    display: block;
    height: 50px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
}

.block-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

/*------------------delete-user--------------*/
/*------------------table--------------*/

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
    border: 0;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6 !important;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

/*------------------table--------------*/
.form-feedback {
    margin-left: 45.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
}

.form-feedback input {
    width: calc(100% - 30px);
    height: 30px;
    padding: 0 15px;
    margin-bottom: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F6F6F6;
    float: left;
}

.form-feedback button {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--sec-bg-color);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.form-feedback textarea {
    width: 100%;
    height: 200px;
    resize: none;

}